{{ define "main" }}
    {{- partial "AuthorDoublePanel" . -}}

    {{- partial "AuthorCertifications" . -}}

    <section class="au-Content">
        {{- .Content -}}
    </section>

    {{- partial "CaseStudies" .Params.author_id -}}

    {{ $pages := slice }}
    {{ range where site.RegularPages "Section" "blog" }}
        {{ if in .Params.author_id $.Params.author_id }}
            {{ $pages = $pages | append (slice .) }}
        {{ end }}
    {{ end }}
    {{- partial "ContentList" (dict "pages" $pages "show_tags" true) -}}

{{ end }}



{{ define "bodyScripts" }}
    <script type="text/javascript" src="/js/carousel.js"></script>
    <link rel="stylesheet" href="/css/carousel.css">
{{ end }}
