{{- $page := .Page -}}
<section class="cst-Benefits">
    <div class="cst-Container">
        <div class="cst-ColumnsWrapper">
            <div>
                {{ .Inner }}
            </div>
        {{ if .Get "blockquote" }}
            <div class="cst-BlockquoteWrapper">
                <blockquote>
                    <div class="cst-Blockquote">
                        {{ .Get "blockquote" | markdownify }}
                    </div>
                    {{ with .Get "blockquote_author" }}<footer class="cst-BlockquoteAuthor">{{ . }}</footer>{{ end }}
                </blockquote>
            </div>
        {{ else }}
            <div class="{{ if (.Get "image") }}cst-PinkSquare_Image{{else }}cst-PinkSquare{{ end }}">
                {{- with .Get "image" -}}
                    {{- partial "img" (dict 
                        "src" .
                        "IsContentImage" true
                        "Page" $page
                        "class" "cst-BenefitsImage"
                        ) -}} 
                {{- end -}}
                {{ with .Get "square_text" }}
                <span class="cst-PinkSquare_Text">{{ . }}</span>
                {{ end }}
            </div>
        {{ end }}
        </div>
        {{- if .Get "cta_text" -}}
            {{- partial "button_cta"
                (dict 
                    "text" (.Get "cta_text")
                    "url" (.Get "cta_url")
                )
            -}}
        {{- end -}}
    </div>
</section>
