{{- $page := .Page -}}
<section class="cst-Challenge">
    <div class="cst-Container">
        <div class="cst-ColumnsWrapper">
        <div>
            {{ .Inner }}
        </div>
        {{- with .Get "image" -}}
            <div class="cst-PinkSquare_Image">
                {{- partial "img" (dict 
                    "src" .
                    "IsContentImage" true
                    "Page" $page
                    "class" "cst-ChallengeImage"
                    ) -}} 
            </div>
        {{- else -}}
            <div class="cst-PinkSquare"></div>
        {{- end -}}
        </div>
    </div>
</section>
