{{- $page := .Page -}}
<section class="cst-Challenge">
    <div class="cst-Container">
        <div class="cst-ColumnsWrapper">
        <div>
            {{ .Inner }}
        </div>
        {{- if .Get "blockquote" -}}
            <div class="cst-BlockquoteWrapper">
                <blockquote>
                    <div class="cst-Blockquote">
                        {{ .Get "blockquote" | markdownify }}
                    </div>
                    {{ with .Get "blockquote_author" }}<footer class="cst-BlockquoteAuthor">{{ . }}</footer>{{ end }}
                </blockquote>
            </div>
        {{- else -}}
            {{- with .Get "image" -}}
                <div class="cst-PinkSquare_Image">
                    {{- partial "img" (dict 
                        "src" .
                        "IsContentImage" true
                        "Page" $page
                        "class" "cst-ChallengeImage"
                        ) -}} 
                </div>
            {{- else -}}
                <div class="cst-PinkSquare"></div>
            {{- end -}}
        {{- end -}}
        </div>
    </div>
</section>
