<section class="ot">
    <div class="ot-Wrapper">
        <!-- <div class="ot-Award">
            <a href="/blog/aws-advanced-partner/">
                <img 
                src="/aws_partner.png" 
                alt="partner"
                class="ot-AwardImg"
                >
            </a>
            <p class="ot-AwardText">
                As an AWS Advanced Partner, FivexL combines real-world experience with deep knowledge in building scalable, secure, and cost-effective AWS environments for fast-growing startups. 
            </p>
        </div> -->
        
        <h2 class="ot-Heading">{{ .Params.heading }}</h2>
        {{ .Inner }}
    </div>
    <div class="ot-ImageWrapper">
        <div class="ot-BottomWrapper">
            {{ partial "button_cta" (dict "url" .Params.cta_url "text" .Params.cta_text) }}
        </div>
        {{ partial "img" (dict "src" "inverted_logo_badge.png" "class" "ot-TeamLogo") }}
        {{ partial "img" (dict "src" "fivexl_team_cutout.png" "class" "ot-TeamCutout") }}
    </div>
</section>
