{{ $keyword := .Get "keyword" }}
{{ $u := "" }}

{{ if eq $keyword "base_image_example" }}
  {{ $u = "https://raw.githubusercontent.com/fivexl/secure-container-image/main/Dockerfile.base-python3-distroless-debian-11" }}
{{ else if eq $keyword "python_app_image_example" }}
  {{ $u = "https://raw.githubusercontent.com/fivexl/secure-container-image/main/examples/python_examples/Dockerfile.py-app-poetry" }}
{{ else }}
  {{ errorf "Invalid keyword." }}
{{ end }}

{{ with resources.GetRemote $u }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $formattedContent := .Content }}
    {{ highlight $formattedContent "dockerfile" "" }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource." }}
{{ end }}
