<section class="section ss">
    {{- with .Params -}}

    {{- if isset . "heading" -}}
        <h2 class="ss-Heading
        {{ if eq .heading_color "pink" }} pink_heading{{ end }}" style="margin-bottom: 0">
            {{ .heading }}</h2>
    {{- end -}}

    {{- with .image -}} 
    <aside class="ss-Image">
        {{ partial "img" (dict "src" . "style" "margin-top: 1rem") }}
    </aside>{{- end -}}
    {{- end -}}

    <div class="ss-Content">
       {{- .Inner | safeHTML -}}
    </div>
</section>
