{{ define "main" }}
    {{- partial "AuthorDoublePanel" . -}}

    {{- partial "AuthorCertifications" . -}}

    <section class="au-Content">
        {{- .Content -}}
    </section>

    {{- partial "CaseStudies" .Params.author_id -}}

    {{ $pages := where (where site.RegularPages "Params.author_id" .Params.author_id) "Section" "blog" }}
    {{ $case_studies :=  where $pages "Params.case_study" true }}
    {{- partial "ContentList" (dict "pages" ($pages | symdiff $case_studies) "show_tags" true) -}}
{{ end }}
