@import 'icon_link.scss';
@import 'button_cta.scss';
@import 'double_panel.scss';
@import 'split_section.scss';

.section {
  max-width: $maxContentWidth;
  padding: 0 1rem;
  margin-top: 2rem;
  margin-inline: auto;
}

.blue_heading {
  color: $accentColor;
  &.big span { font-size: 32px; }
  &.bigger span { font-size: 48px; }
}
.pink_heading {
  color: $textSecondary;
  &.big span { font-size: 32px; }
  &.bigger span { font-size: 48px; }
}
