.ss {
  --image_width: 30%;
  
  @media (min-width: 820px) {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(auto, var(--image_width)) 1fr;
  }
  &-Heading {
    grid-area: span 1 / span 2;
  }

  &-Image {
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &-Content {
  }
}
