.ss {
  
  @media (min-width: 820px) {
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(auto, 30%) 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template: "heading heading"
      "image content";
  }
  &-Heading {
    grid-area: heading;
  }

  &-Image {
    grid-area: image;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &-Content {
    grid-area: content;
  }
}
