.twc {
  background: #DDDDDD53;
  box-sizing: border-box;
  &-Heading {
    @include base-text;
    font-size: clamp(2.125rem, 4vw, 3.4rem);
    color: $textSecondary;
    margin-bottom: 2rem;
    margin-inline: auto;
    text-align: center;
    line-height: 1.15;

    &_Centered {
      text-align: center;
    }
  }

  &-Subheading {
    color: $textSecondary;
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &-Container {
    padding: clamp(3.25rem, 6vw, 6rem) clamp(3rem, 15vw, 17rem);
    max-width: 1920px;
    margin-inline: auto;
  }

  &-ColumnsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2.5rem;
    align-items: start;

    h2, h3, h4, h5 {
      margin-top: 0;
      line-height: 1.375;
    }
    h3 {
      font-size: clamp(19px, 2.5vw, 2.5rem);
    }
    p {
      font-size: clamp(0.875rem, 1vw, 1.25rem);
      font-weight: 300;
      line-height: 1.25;
      @media (min-width:1024px) {
        font-weight: 500;
        line-height: 1.5;
      }
    }

    ul, ol {
      padding-left: 0;
      margin: 0;
      list-style: none;
    }

    li {
      display: flex;
      align-items: center;
      gap: clamp(0.5rem, 2vw, 2rem);
      background: white;
      border-radius: 15rem;
      padding: clamp(1rem, 2vw, 1.5rem) clamp(1rem, 2vw, 2rem) clamp(1rem, 2vw, 1.5rem) clamp(1.5rem, 3vw, 4rem);
      margin-bottom: clamp(1rem, 2vw, 2.5rem);
      font-size: clamp(0.875rem, 2vw, 1.25rem);
      font-weight: 600;
      letter-spacing: -0.01em;
      line-height: 1.5;
      color: $textPrimary;
      strong { color: inherit; }
    }

    &_Centered {
      text-align: center;

      p {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
