{{ define "main" }}
{{ $featured := index .Pages 0 }}
{{- partial "DoublePanel.html" ( dict
    "Params" ( dict
        "title" $featured.Params.title
        "panel_image" $featured.Params.panel_image
        "sub_heading" "CASE STUDIES"
        "cta_text" "READ CASE STUDY"
        "featured_page" $featured
    )
    "Permalink" $featured.Permalink
    "IsSection" .IsSection
) -}}

    {{ .Content }}
    {{- partial "CaseStudiesInfinite" . -}}

{{ end }}

{{ define "bodyScripts" }}
    {{- if .HasShortcode "case_studies_cards" -}}
        <script type="text/javascript" src="/js/carousel.js"></script>
        <link rel="stylesheet" href="/css/carousel.css">
    {{- end -}}
{{ end }}
