{{ define "main" }}
    <div class="dp">
        <section class="dp-PanelContent_Left">
            {{ readFile "static/path-1.svg" | safeHTML }}
            <h2 class="dp-PanelContent_SubHeading">FiveXL BLOGS</h2>
            <h1 class="dp-PanelContent_Heading">BLOG POST ONE TITLE</h1>
            <h1 class="dp-PanelContent_Heading">BLOG POST ONE TITLE</h1>
            <h2 class="dp-PanelContent_SubHeading">FiveXL BLOGS</h2>
            <a class="dp-PanelContent_CTA" href="#">RED BLOG POST</a>
        </section>
        <section class="dp-PanelImage_Right">
            <img src="/blue-circle-man-with-laptops.png">
        </section>
    </div>
{{ end }}
