{{ define "main" }}
    <div class="dp">
        <section class="dp-PanelContent_Left">
            <div class="dp-PanelContent_Wrapper">
                <h2 class="dp-PanelContent_SubHeading">FiveXL BLOG</h2>
                <h1 class="dp-PanelContent_Heading">BLOG POST ONE TITLE</h1>
                <a class="dp-PanelContent_CTA" href="#">READ BLOG POST</a>
            </div>
        </section>
        <section class="dp-PanelImage_Right">
            <img src="/blue-circle-man-with-laptops.png">
        </section>
    </div>
{{ end }}
