<section class="asb">
    <img class="asb-Author_Portrait" src="/image-33.png" alt="Author protrait">
    <h1 class="asb-Author"><a href="#">AUTHOR NAME</a></h1>
    <span class="asb-Author_Role">Role Role Role Role </span>
    <span class="asb-Author_Role">Role Role Role Role </span>
    <span class="asb-Author_Role">Role Role Role Role </span>
    <a class="asb-Author_ReadMore" href="#">Read More</a>
    <h2 class="asb-Tags">Tags</h2>
    <div class="asb-Taglist">
        <a class="asb-Tag">Tag Here Tag Here</a>
        <a class="asb-Tag">Tag Here</a>
        <a class="asb-Tag">Tag</a>
        <a class="asb-Tag">Tag Here Here</a>
    </div>
    <h2 class="asb-Share_Heading">Share Blog</h2>
    <img src="/social-media-placeholder.png" alt="" style="width: 50%; height: auto; margin-left: 1rem;">
</section>
