{{ with .Params.certifications }}
<section class="auc glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {{- range . -}}
            <li class="glide__slide"><img alt="{{- . -}}" src="{{- . -}}"></li>
            {{- end -}}
        </ul>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">❮</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">❯</button>
  </div>

    </div>
</section>
{{ end }}
