<section class="asb">
    {{ if reflect.IsSlice .Params.author_id }}
        {{ range .Params.author_id }}
            {{ range where (where site.Pages "Section" "author") "Params.author_id" "in" .  }}

                {{ $Permalink := .Permalink }}
                {{ with .Resources.GetMatch .Params.author_headshot }}
                <a href="{{ $Permalink }}" alt="{{ .Params.name }}'s author page">
                    {{ partial "img" (dict "class" "asb-Author_Portrait" "src" .Params.author_headshot "alt" "Author portrait" "image" . "sizes" "145px" "lazy" true) }}
                </a>
                {{ end }}
                <h1 class="asb-Author"><a href="{{ .Permalink }}">{{ .Params.name }}</a></h1>
                {{ range .Params.roles }}
                <span class="asb-Author_Role">{{ . }}</span>
                {{ end }}
                <a class="asb-Author_ReadMore" href="{{ .Permalink }}">Read More</a>

            {{ end }}
        {{ end }}
    {{ else }}
        {{ range where (where site.Pages "Section" "author") "Params.author_id" "in" .Params.author_id  }}
            {{ $Permalink := .Permalink }}
            {{ with .Resources.GetMatch .Params.author_headshot }}
            <a href="{{ $Permalink }}" alt="{{ .Params.name }}'s author page">
                {{ partial "img" (dict "class" "asb-Author_Portrait" "src" .Params.author_headshot "alt" "Author portrait" "image" . "sizes" "145px" "lazy" true) }}
            </a>
            {{ end }}
            <h1 class="asb-Author"><a href="{{ .Permalink }}">{{ .Params.name }}</a></h1>
            {{ range .Params.roles }}
            <span class="asb-Author_Role">{{ . }}</span>
            {{ end }}
            <a class="asb-Author_ReadMore" href="{{ .Permalink }}">Read More</a>
        {{ end }}
    {{ end }}

    <a class="asb-SubscribeButton" href="/#email-subscription">Subscribe</a>

    {{ with .Params.tags }}
    <h2 class="asb-Tags">Tags</h2>
    <div class="asb-Taglist">
        {{ range . }}
        <a class="asb-Tag" href="/tags/{{- . | urlize -}}">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
    <h2 class="asb-Share_Heading">Share Blog</h2>
    <div class="asb-ShareList">
        <a class="asb-ShareButton" href="https://twitter.com/intent/tweet?text={{- .Params.summary }}: @ {{- urlquery .Permalink -}}" target="_blank">{{ readFile "/static/twitter.svg" | safeHTML }}</a>
        <a class="asb-ShareButton" href="https://www.linkedin.com/sharing/share-offsite/?url={{- .Permalink -}}" target="_blank">{{ readFile "/static/linkedin.svg" | safeHTML }}</a>
        {{ $email_body := printf "Check this article from FivexL, %s:\n\n%s\n\n%s" .Title .Permalink .Summary }}
        {{ $email_subject := printf "Article: %s" .Title }}
        <a class="asb-ShareButton" href="mailto:?subject={{ $email_subject }}&body={{ $email_body }}" target="_blank">{{ readFile "/static/email.svg" | safeHTML }}</a>
        <a class="asb-ShareButton" href="https://www.reddit.com/submit?url={{- .Permalink -}}" target="_blank">{{ readFile "/static/reddit.svg" | safeHTML }}</a>
    </div>
</section>
