{{ $author := index 
                (
                    where 
                        (where site.Pages "Section" "author")
                        "Params.author_id" .Params.author_id 
                )
                0
}}

<section class="asb">
    <img class="asb-Author_Portrait" src="{{- $author.Params.author_headshot -}}" alt="Author protrait">
    <h1 class="asb-Author"><a href="#">{{ $author.Params.name }}</a></h1>
    {{ range $author.Params.roles }}
    <span class="asb-Author_Role">{{ . }}</span>
    {{ end }}
    <a class="asb-Author_ReadMore" href="{{ $author.Permalink }}">Read More</a>

    {{ with .Params.tags }}
    <h2 class="asb-Tags">Tags</h2>
    <div class="asb-Taglist">
        {{ range . }}
        <a class="asb-Tag" href="/tags/{{- . -}}">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
    <h2 class="asb-Share_Heading">Share Blog</h2>
    <div class="asb-ShareList">
        <a class="asb-ShareButton" href="https://twitter.com/intent/tweet?text={{- .Params.summary }}: @ {{- .Permalink -}}" target="_blank">{{ readFile "/static/twitter.svg" | safeHTML }}</a>
        <a class="asb-ShareButton" href="https://www.linkedin.com/sharing/share-offsite/?url={{- .Permalink -}}" target="_blank">{{ readFile "/static/linkedin.svg" | safeHTML }}</a>
        <a class="asb-ShareButton" href="mailto:?subject=Article: {{- .Params.title -}}&body=Check this article from fiveXl: {{- .Permalink -}}: {{- .Params.summary -}}" target="_blank">{{ readFile "/static/email.svg" | safeHTML }}</a>
        <a class="asb-ShareButton" href="https://www.reddit.com/submit?url={{- .Permalink -}}" target="_blank">{{ readFile "/static/reddit.svg" | safeHTML }}</a>
    </div>
</section>
