<section class="cst-Authors">
    <div class="cst-AuthorsContainer">
        <h2 class="cst-AuthorsHeading" {{ if not (reflect.IsSlice .Params.author_id) }}style="text-align: center;"{{ end }}>{{ .Params.authors_heading }}</h2>
        <div class="cst-AuthorsWrapper" {{ if not (reflect.IsSlice .Params.author_id) }}style="grid-template-columns: minmax(1fr, 380px); justify-content: center"{{end }}>
            {{- if reflect.IsSlice .Params.author_id -}}
            {{ range .Params.author_id }}
            {{ $page := $.GetPage (printf `/author/%s` .) }}
            <div class="asb" style="background: white; width: auto;">
                <a href="{{ $page.Permalink }}" alt="{{ $page.Params.name }}'s author page">
                    {{ partial "img" (dict "class" "asb-Author_Portrait" "src" $page.Params.author_headshot "alt" "Author portrait" "Page" $page "sizes" "145px" "lazy" true) }}
                </a>
                <h1 class="asb-Author"><a href="{{ $page.Permalink }}">{{ $page.Params.name }}</a></h1>
                {{ range $page.Params.roles }}
                <span class="asb-Author_Role">{{ . }}</span>
                {{ end }}
                {{ range $page.Params.information }}
                <span class="asb-Author_Role">{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
            {{ else }}
            {{ $page := $.GetPage (printf `/author/%s` .Params.author_id) }}
            <div class="asb" style="background: white; width: auto;">
                <a href="{{ $page.Permalink }}" alt="{{ $page.Params.name }}'s author page">
                    {{ partial "img" (dict "class" "asb-Author_Portrait" "src" $page.Params.author_headshot "alt" "Author portrait" "Page" $page "sizes" "145px" "lazy" true) }}
                </a>
                <h1 class="asb-Author"><a href="{{ $page.Permalink }}">{{ $page.Params.name }}</a></h1>
                {{ range $page.Params.roles }}
                <span class="asb-Author_Role">{{ . }}</span>
                {{ end }}
                {{ range $page.Params.information }}
                <span class="asb-Author_Role">{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
