<section class="cl">
    <h2 class="cl-Heading">{{ default "BLOGS" .heading }}</h2>
    {{ if .show_tags }}
    <div class="cl-TagsList">
        {{ range site.Taxonomies.tags.ByCount }}
            <a class="cl-Tag" href="{{ .Page.Permalink }}">{{ .Page.Name }}</a>
        {{ end }}
    </div>
    {{ end }}
    <div class="cl-ContentWrapper">
        {{ range .pages }}
        <div class="cl-ContentItem">
            {{ $permalink := .Permalink }}
            {{ with .Resources.GetMatch .Params.panel_image }}
            <a href="{{ $permalink }}">
                {{ partial "img" (dict "class" "cl-ContentItem_Image" "src" .Permalink "image" . "alt" .Name) }}
            </a>
            {{ end }}
            <span class="cl-ContentItem_Date">{{ time.Format "January 2, 2006" .Params.date }}</span>
            <h1 class="cl-ContentItem_Heading"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            <p class="cl-ContentItem_Summary">{{ .Summary }}</p>
        </div>
        {{ end }}
    </div>
    {{ with .Paginator }}
    <div class="cl-Pagination">
        {{ if .HasPrev }}
        <a class="cl-Pagination_Previous" href="{{ .Prev.URL }}">Previous</a>
        {{ end }}
        {{ if gt (sub (math.Round .PageNumber) 2) .First.PageNumber }}
        <a class="cl-Pagination_Page" href="{{ .First.URL }}">{{ .First.PageNumber }}</a>
        <span class="cl-Pagination_Spacer">...</span>
        <a class="cl-Pagination_Page" href="{{ .Prev.URL }}">{{ .Prev.PageNumber }}</a>
        {{ else }}
        {{ with .Prev }}
            {{ with .Prev }}
        <a class="cl-Pagination_Page" href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ end }}
        <a class="cl-Pagination_Page" href="{{ .URL }}">{{ .PageNumber }}</a>
        {{ end }}
        {{ end }}
        <a class="cl-Pagination_Page cl-Pagination_Current" href="#">{{ .PageNumber }}</a>
        {{ if lt (add (math.Round .PageNumber) 2) .Last.PageNumber }}
        <a class="cl-Pagination_Page" href="{{ .Next.URL }}">{{ .Next.PageNumber }}</a>
        <span class="cl-Pagination_Spacer">...</span>
        <a class="cl-Pagination_Page" href="{{ .Last.URL }}">{{ .Last.PageNumber }}</a>
        {{ else }}
        {{ with .Next }}
        <a class="cl-Pagination_Page" href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ with .Next }}
        <a class="cl-Pagination_Page" href="{{ .URL }}">{{ .PageNumber }}</a>
            {{ end }}
        {{ end }}
        {{ end }}
        {{ if .HasNext }}
        <a class="cl-Pagination_Next" href="{{ .Next.URL }}">Next</a>
        {{ end }}
    </div>
    {{ end }}
</section>
