<div class="dp">
    <section class="dp-PanelContent_Left">
        <div class="dp-PanelContent_Wrapper">
            <h2 class="dp-PanelContent_SubHeading">{{ default "FiveXL BLOG" .Params.sub_heading }}</h2>
            <h1 class="dp-PanelContent_Heading">{{ default "BLOG POST ONE TITLE" .Params.title }}</h1>
            {{ if or .IsSection .IsHome }}
            <a class="dp-PanelContent_CTA" href="{{ default "#" .Permalink }}">READ BLOG POST</a>
            {{ end }}
        </div>
    </section>
    <section class="dp-PanelImage_Right">
        {{ with .Resources.GetMatch .Params.panel_image }}
        <img src="{{- .Permalink -}}" alt="{{ .Name }}">
        {{ else }}
        <img src="/blue-circle-man-with-laptops.png" alt="a placeholder stock image">
        {{ end }}
    </section>
</div>

