{{ if and (ne nil .layout) (eq "case-studies" .layout) }}
<section class="dp_CaseStudies" >
    <div class="dp-Wrapper_CaseStudies">
        <div class="dp-SummaryPanel">
            {{ with .heading }}<h2>{{ . }}</h2>{{ end }}
            {{ with .subheading }}<span>{{ . }}</span>{{ end }}
            {{ with .button_cta }}{{ partial "button_cta" . }}{{ end }}
        </div>
        {{ partial "media_panel" .media_panel }}
    </div>
</section>
{{ else if and (ne nil .layout) (eq "services" .layout) }}
<section class="dp_Services" >
    <div class="dp-Wrapper_Services">
        <div class="dp-SummaryPanel">
            {{ with .heading }}<h2>{{ . }}</h2>{{ end }}
            {{ with .subheading }}<span>{{ . }}</span>{{ end }}
        </div>
        {{ partial "media_panel" .media_panel }}
        {{ with .button_cta }}{{ partial "button_cta" . }}{{ end }}
    </div>
</section>
{{ else }}
<section class="dp-Sq {{ with .fluid_layout }}dp__Fluid{{ end }}" >
    <section class="dp-SummaryPanel">
        {{ with .heading }}<h2>{{ . }}</h2>{{ end }}
        {{ with .subheading }}<h3>{{ . }}</h3>{{ end }}
        {{ with .icon_links }}
            <div class="dp-Links">
                {{- range . -}}{{ partial "icon_link" . }}{{- end -}}
            </div>
        {{ end }}
        {{ with .button_cta }}{{ partial "button_cta" . }}{{ end }}
    </section>
    {{ partial "media_panel" .media_panel }}
</section>
{{ end }}
