<section class="email-sub">
    <div class="email-sub-Wrapper">
        <div class="email-sub-Left">
            <h2 class="email-sub-Heading">Want practical infra insights?</h2>
            <ul class="email-sub-BulletList">
                <li>Real stories from AWS projects</li>
                <li>No-nonsense DevOps tactics</li>
                <li>Cost, security & compliance patterns</li>
                <li>Expert guidance</li>
            </ul>
        </div>
        
        <div class="email-sub-Right">
            <!-- HubSpot Form Embed -->
            <script src="https://js-eu1.hsforms.net/forms/embed/27182258.js" defer></script>
            <div class="hs-form-frame email-sub-HubSpotForm" data-region="eu1" data-form-id="7d626954-d6be-407f-90cf-d2bd4f26c1ad" data-portal-id="27182258"></div>
        </div>
    </div>
</section>

