<section class="email-sub">
    <div class="email-sub-Wrapper">
        <div class="email-sub-Left">
            <h2 class="email-sub-Heading">Want practical infra insights?</h2>
            <ul class="email-sub-BulletList">
                <li>Real stories from AWS projects</li>
                <li>No-nonsense DevOps tactics</li>
                <li>Cost, security & compliance patterns</li>
                <li>Expert guidance</li>
            </ul>
        </div>
        
        <div class="email-sub-Right">
            <!-- Brevo Form Embed -->
            <iframe width="540" height="340" src="https://1b3fd6c9.sibforms.com/serve/MUIFADiSlfx5OZCZBobc6gH6d0gUd0LbtzBDpaA2viCr1AsERAMW03FfdYANfMdXH_KUXrZ_eyYtWz2gE_5C0vAkGG3yfzij8pXcNwpY2C1LALCJ3x56JSMFE6cnPhXlnny-_C-OCJHcxefaNS3ObBqjhRfSxNnca5OiFrNfD5pc-SGRcXVWk9HEb4C5ErRZu2YYhEzap29TjaeltA==" frameborder="0" scrolling="no" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;overflow: hidden;"></iframe>
        </div>
    </div>
</section>

