<meta charset="utf-8">
<link rel="canonical" href="{{ .Permalink }}">
<meta name="viewport" content="width=device-width,initial-scale=1">
{{ $styles := resources.Get "sass/main.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ $js := resources.Get "js/main.ts" | js.Build }}
<script type="application/javascript" src="{{ $js.RelPermalink }}" defer></script>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
