<header class="hdr {{- if .Params.transparent_nav }} hdr_Transparent{{ end -}}">
    <a href="/">
        {{- if .Params.transparent_nav  }}
        <picture>
            {{ $logo := resources.Get "img/full-logo_white_transparent.png" }}
            <source
                type="image/webp"
                srcset="{{ ($logo.Resize `200x q75 webp`).Permalink }} 200w,
                {{ ($logo.Resize `400x q75 webp`).Permalink }} 400w,
                {{ ($logo.Resize `600x q75 webp`).Permalink }} 600w">
            <img class="hdr-Logo_Transparent" src="{{ $logo.Permalink }}" 
                sizes="155px" width="155" height="48" alt="FivexL logo">
        </picture>
        <picture>
            {{ $logo := resources.Get "logo_medium.png" }}
            <source
                type="image/webp"
                srcset="{{ ($logo.Resize `200x q75 webp`).Permalink }} 200w,
                {{ ($logo.Resize `400x q75 webp`).Permalink }} 400w,
                {{ ($logo.Resize `600x q75 webp`).Permalink }} 600w">
            <img class="hdr-Logo" src="{{ $logo.Permalink }}" 
                sizes="155px" width="155" height="48" alt="FivexL logo">
        </picture>
        {{- else -}}
        <picture>
            {{ $logo := resources.Get "logo_medium.png" }}
            <source
                type="image/webp"
                srcset="{{ ($logo.Resize `200x q75 webp`).Permalink }} 200w,
                {{ ($logo.Resize `400x q75 webp`).Permalink }} 400w,
                {{ ($logo.Resize `600x q75 webp`).Permalink }} 600w">
            <img class="hdr-Logo" src="{{ $logo.Permalink }}" 
                sizes="155px" width="155" height="48" alt="FivexL logo">
        </picture>
        {{ end -}}
    </a>
    <button class="hdr-NavigationTrigger" aria-pressed="false">
        <svg class="hdr-NavigationTrigger_Menu" width="38" height="38" viewBox="0 0 38 38" xmlns="https://www.w3.org/2000/svg">
            <title>Open</title>
            <path class="h t" d="M10.5 10l17 0"/>
            <path d="M10.5 19l17 0"/>
            <path class="h b" d="M10.5 28l17 0"/>
            <path class="x" d="M19 10.5l0 17"/>
        </svg>
        <span>Menu</span>
    </button>
    <nav class="hdr-Navigation">
        <ul class="hdr-NavigationList">
            {{ range .Site.Menus.main }}
            <li class="hdr-NavigationItem">
                <a href="{{ absURL .ConfiguredURL }}" class="{{ with .Params.class }}{{ . }}{{ end }} {{- if or ($.IsMenuCurrent .Menu .) ($.HasMenuCurrent .Menu .) }} hdr-NavigationItem_Active{{ end -}}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>

