{{ $align := "" }}
{{ $style := .style }}
{{ if eq .align "left" }}
    {{ $align = "image-left" }}
{{ else if eq .align "right" }}
    {{ $align = "image-right" }}
{{ else }}
    {{ $align = "image-center" }}
{{ end }}

{{ $image := or .image (or (resources.Get .src) (.Page.Resources.GetMatch .src)) }}

{{ if $image }}

    {{ $sizes := slice 350 700 1000 1300 1600 2000 3000 }}
    {{ $images := slice }}

    <!--   Optimized versions generation -->
    {{ range $sizes }}
        {{ if gt $image.Width . }}

            {{ $images = $images | append 
                ( printf "%s %dw" 
                    ($image.Resize ( printf "%dx webp" . )).Permalink .) }}

        {{ end }}
    {{ end }}

    {{ $images = $images | append 
        ( printf "%s %dw" 
            ($image.Resize ( printf "%dx webp" $image.Width )).Permalink
            $image.Width
        ) }}

    {{ $srcset := delimit $images ", " }}
    {{ $sizesAttribute := "" }}

    {{ if .maxWidth }}
        {{ $style = print $style (print `; max-width: ` .maxWidth) }}
    {{ end }}

    <picture>
        <source type="image/webp" {{ with $srcset }}srcset="{{ . }}"{{ end }}>
        <img
            src="{{ $image.Permalink }}"
            class="{{ .class }} {{ $align }}"
            alt="{{ default .alt $image.Name }}"
            height="{{ $image.Height }}"
            width="{{ $image.Width }}"
            {{- with .sizes }}sizes="{{ . }}"{{- end -}}
            {{- if isset . "IsContentImage" -}}sizes="(max-width: 768px) 100vw, 1184px"{{- end -}}
            {{ with $style }}style="{{ . | safeCSS }}"{{ end }}
            {{- if .lazy }}loading="lazy"{{ end -}}
        />
    </picture>
{{ else }}
    <img src="{{ .src }}" class="{{ partial "fn/spacing_classes" . }}" alt="{{ .src }}" style="{{ with .maxWidth }}max-width: {{. }}{{ else }}width: 100%{{ end }}; height: auto;{{ with .style }}{{ . | safeCSS }}{{ end }}">
{{ end }}

