{{- $input := urls.Parse .url -}}

<div class="dp-MediaPanel">
{{- if isset . "image" -}}
    {{ if (isset . "url") }}
        <a class="dp-MediaPanel_Link" href="{{ .url }}">
            <img class="dp-MediaPanel_Image" src="{{ .image }}" alt="{{ default .image $.alt }}">
        </a>
    {{ else }}
        <img class="dp-MediaPanel_Image" src="{{ .image }}" alt="{{ default .image .alt }}">
    {{ end }}
{{- else if (strings.Contains $input.Host "youtube.com") -}}
    {{- $query := $input.Query.Get "v" -}}
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;">
        <iframe class="dp-MediaPanel_Embed" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/{{ $query }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
{{- else if (strings.Contains $input.Host `youtu.be`) -}}
    {{- $videoID := strings.TrimPrefix "/" $input.Path -}}
    <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;">
        <iframe class="dp-MediaPanel_Embed" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/{{ $videoID }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
{{- else if (strings.Contains $input.Host `vimeo.com`) -}}
    <iframe src="https://player.vimeo.com/video{{ $input.Path }}?title=0&byline=0&portrait=0" class="dp-MediaPanel_Embed" width="640" height="338" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
{{- else if (isset . "url") -}}
    {{ .url | safeHTML }}
{{- else -}}
    {{- with .Inner -}}{{ . | markdownify }}{{- end -}}
{{- end -}}
</div>
