{{ define "main" }}
{{ $blogs := where site.RegularPages "Section" "blog" }}
    {{ $featured_blog := index .Pages 0 }}

    {{- partial "DoublePanel.html" ( dict 
        "Params" ( dict
            "title" $featured_blog.Params.title 
            "panel_image" .Params.panel_image
        )
        "Permalink" $featured_blog.Permalink
        "IsSection" true
    ) -}}

    <section class="ttl">
        <h2 class="ttl-Heading">Tagged Articles</h2>
        <span class="ttl-TermPill">{{ .Data.Term }}</span>
        <ul class="ttl-Articles">
        {{ range .Pages }}
            <li class="ttl-ArticleLink"><a href="{{ .Permalink }}">{{ .Params.title }}</a></li>
        {{ end }}
        </ul>
    </section>
{{ end }}
