.asb {
  &-Author {
    font-weight: 300;
    padding-inline: 1rem;
    a {
      color: $textPrimary;
      text-decoration: none;
    }
  }

  &-Author_Portrait {
    display: block;
    width: 50%;
    height: auto;
    background: url('/xl-nobg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    object-fit: scale-down;
    margin-left: 1rem;
  }

  &-Author_Role {
    display: block;
    margin-bottom: 0.75rem;
    font-weight: 700;
    padding-inline: 1rem;
  }

  &-Author_ReadMore {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: underline;
    padding-inline: 1rem;
    margin-bottom: 3rem;
    color: $textPrimary;
  }

  &-Tags {
    padding-inline: 1rem;
  }

  &-Taglist {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-inline: 1rem;
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 3rem;
    }
  }

  &-Tag {
    display: block;
    font-size: 0.8rem;
    padding: 0.75rem 1.5rem;
    border-radius: 2.5rem;
    border: 1px solid #707070;
    font-weight: 700;
    text-decoration: none;
    color: #000;
  }

  &-Share_Heading {
    padding-inline: 1rem;
    margin-bottom: 1.5rem;
  }

  &-ShareList {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 1rem;
    padding-inline: 1rem;
  }

  &-ShareButton {
    height: 54px;
    width: 54px;
    background-color: black;
    display: grid;
    place-items: center;
    border-radius: 50%;

    & svg {
      fill: #fff;
      width: 36px;
      height: 36px;
    }
  }
  
  &-SubscribeButton {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    line-height: 1.15;
    color: white;
    background: $accentColor;
    width: auto;
    
    @media (min-width: 768px) {
      padding: 0.4rem 1rem;
      margin-bottom: 3rem;
    }
    
    &:visited,
    &:active,
    &:hover,
    &:focus {
      color: white;
    }
  }
}
