// Author Certifications = auc

.auc {
  margin-inline: 1rem;
  margin-bottom: 2rem;
  max-width: 600px;
  padding-inline: 1rem;
  @media (min-width: 768px) {
    margin-inline: auto;
    margin-bottom: 6rem;
  }


  & .carousel {
    ul {
      background: transparent;
      img { object-fit: contain; }
    }

    ol {
      bottom: -35px;
      padding-left: 0;

      a {
        background-color: #666;
        transition: all 0.12s ease-in;
        box-shadow: 0 0 3px 0 rgba(23, 0, 55, 0.3);
      }

      .selected {
        a {
          border-color: #666;
          background-color: #666;
        }
      }
    }

  }

}
