// Single Blog Template

.bls {
  max-width: $maxContentWidth;
  &-Content {
    max-width: 1220px;
    padding-left: 1rem;
    padding-right: 1.25rem;
  }
 
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: #{'min(75vw, 1220px)'} 1fr;
    gap: clamp(5vw, 10vw, 6rem);
    margin-inline: auto;
  }
}



// Font setting
.bls-Content {
  h1 {
    @include base-text;
    font-size: 2.5rem;
    color: $textSecondary;
  }
  h2 {
    @include base-text;
    font-size: 1.75rem;
    color: $textAccent;
  }
  h3 {
    @include base-text;
    font-size: 1.5rem;
    color: $textPrimary;
  }
  h4, h5, h6 {
    @include base-text;
    font-size: 1.25rem;
    color: $textPrimary;
  }
  p {
    @include base-text;
    font-size: 1rem;
    color: $textPrimary;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
  a {
    font-weight: 700;
    color: $textPrimary;
  }
  ul {
    @media (min-width: 768px) {
      padding-left: 4rem;
    }
  }
  ul li {
    @include base-text;
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
}

