// Case Studies

.cst {
  background: #C9C9C9;
  padding: 2rem 0;
  @media (min-width: 768px) {
    padding: 3.5rem 1rem;
  }

  &-Heading {
    @include base-text;
    font-size: 3.5rem;;
    color: $textSecondary;
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 0.25rem;
    }
  }
}

.cst {
  &-Case {
    margin-top: 3rem;
  }

  &-ListWrapper {
    display: grid;
    gap: 2rem;
    padding-inline: 1rem;
    max-width: $maxContentWidth;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  &-ListWrapper {
    div:first-child {
      margin-top: 0;
      @media (min-width: 768px) {
        margin-top: 3rem;
      }
    }
  }

  &-Image {
    width: 100%;
    max-width: 50rem;
    height: #{'min(50vw, 23rem)'};
    object-fit: cover;
    @media (min-width: 768px) {
      height: #{'min(30vw, 23rem)'};
    }
  }

  &-CaseHeading {
    color: $textSecondary;
    font-size: 2.25rem;
  }

  &-ReadMore {
    font-weight: 700;
    color: $textPrimary;
  }
}

a:has(.cst-CaseHeading) { text-decoration: none; }


.cst {
  &-Container {
    padding: clamp(2.25rem, 5vw, 6rem) clamp(3rem, 15vw, 17rem);
    max-width: 1780px;
    margin-inline: auto;
    @media (min-width: 1500px) {
      width: max-content;
    }
  }

  &-ColumnsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: clamp(2.5rem, 6vw, 7rem);
    @media (min-width: 1500px) {
      grid-template-columns: 450px 1fr;
    }
  }

  &-TestimonialText,
  &-TestimonialPosition {
    max-width: 559px;
    width: 100%;
    font-size: clamp(0.8rem, 1.5vw, 1.45rem);
  }

  &-TestimonialText {
    margin-bottom: clamp(1.5rem, 3vw, 3rem);
  }

  &-TestimonialPosition {
    display: block;
    margin-bottom: clamp(1.5rem, 3vw, 3rem);
    font-weight: 500;
  }

  &-CTA.ButtonCTA {
    border-radius: 3rem;
    font-size: clamp(0.8rem, 1.5vw, 1.25rem);
    margin: 0;
  }

  &-TestimonialPortrait {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &-TestimonialContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    @media (min-width: 1500px) {
      width: max-content; 
    }
  }
}

.cst-Authors {
  background: #f4f4f4;

  &Container {
    padding: clamp(2.25rem, 5vw, 6rem) clamp(3rem, 15vw, 17rem);
    max-width: 1500px;
    margin-inline: auto;
  }

  &Heading {
    color: $textSecondary;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
  }

  &Wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 380px));
    justify-content: space-between;
    gap: 1.5rem;

    .asb {
      flex: 0 1 min-content;
      padding: clamp(1.5rem, 3vw, 3rem) clamp(1.5rem, 3vw, 4rem);
    }
    .asb-Author_Portrait {
      width: calc(100% - 3rem);
      margin-inline: auto;
      margin-bottom: clamp(1.5rem, 2vw, 2.5rem);
    }
    .asb-Author_Role {
      font-weight: 400;
      margin-bottom: 0.5rem;
      padding: 0;
    }
    .asb-Author {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0;
    }
  }
}

.cst-About {
  &Company {
    padding: clamp(2.25rem, 5vw, 6rem) clamp(3rem, 15vw, 17rem);
    max-width: 1780px;
  }

  &Heading {
    color: $textSecondary;
    font-size: clamp(1.5rem, 2vw, 2.25rem);
  }

  &Text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    p {
      font-size: inherit;
    }
  }

  &Image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1.5rem;
  }
}

.cst-Challenge {
  justify-content: start;
  background: #f4f4f4;
  .cst-Container {
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5;
  }
  .cst-ColumnsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }
  .cst-PinkSquare {
    height: calc(100% + (clamp(2.25rem, 5vw, 6rem) * 2 ));
    background: $textSecondary;
    width: 100%;
    display: none;
  }
  .pink_heading {
    span {
      font-size: clamp(1.75rem, 2vw, 2.25rem) !important;
    }
  }
  @media (min-width: 1024px) {
    margin-bottom: calc(clamp(2.25rem, 9vw, 8.5rem) * 2);
    .cst-PinkSquare {
      display: block;
      margin-top: 5rem;
      width: calc(100% + 7rem);
    }
  }
}

.cst-Solution {
  justify-content: start;

  .cst-Heading {
    font-size: clamp(1.75rem, 2vw, 2.25rem);
    margin-bottom: clamp(1rem, 2vw, 2.5rem);
    margin-left: 0;
  }
  .cst-Container {
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5;
    padding-top: clamp(2.25rem, 8vw, 8rem)
  }
  .cst-ColumnsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  }
  @media (min-width: 1024px) {
    background: #f4f4f4;
  }
}

.cst-Benefits {
  justify-content: start;
  background: #f4f4f4;
  .cst-Container {
    width: 100%;
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5;
  }
  .cst-ColumnsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }
  .cst-PinkSquare {
    height: 100%;
    background: $textSecondary;
    width: 100%;
    display: none;
  }
  .pink_heading {
    span {
      font-size: clamp(1.75rem, 2vw, 2.25rem) !important;
    }
  }
  .ButtonCTA {
    border-radius: 3rem;
    margin-top: 2.5rem;
    display: block;
  }
  .cst-PinkSquare_Text {
    color: white;
    font-weight: 700;
    font-style: italic;
    width: calc(100% - 14rem);
    display: block;
    margin-inline: auto;
    font-size: 1.5rem;
    margin-top: 14rem;
  }
  @media (min-width: 1024px) {
    margin-bottom: calc(clamp(2.25rem, 9vw, 8.5rem) * 2);
    .cst-PinkSquare {
      display: block;
      width: calc(100% + 7rem);
    }
  }

}

.section.cst-Section {
  padding: clamp(2.25rem, 5vw, 6rem) 1.5rem;
  max-width: 1300px;
}
