.csi {

  padding-bottom: clamp(2vw, 6vw, 8rem);

  &-Heading {
    color: $textSecondary;
    margin-top: 0;
    margin-bottom: 1.5rem;
    @media (min-width: 1180px) {
      font-size: clamp(2rem, 2.5vw, 3.5rem);
      margin-bottom: clamp(1rem, 1.5vw, 1.5rem);
    }
  }

  &-ItemsWrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    @media (min-width: 1280px) {
      gap: 3rem 4rem;
    }
  }
  
  &-ItemWrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 280px;
    @media (min-width: 1280px) {
      max-width: 344px;
    }
  }

  &-Image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    margin-bottom: clamp(1vw, 4vw, 3rem);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-ReadMore {
    font-weight: 700;
    color: $textPrimary;
  }

  &-ItemHeading {
    margin-top: 0;
    height: 74px;
    margin-bottom: 0.5rem;
  }

  &-ItemSummary {
    margin-top: 0;
  }
  
}
