.cl {
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
  & > * {
    margin-inline: 1rem;
  }
}

@mixin layoutCenter {
  padding-left: 1rem;
  padding-right: 1.25rem;
  margin-inline: auto;
  max-width: $maxContentWidth;
  @media (min-width: 768px) {
    padding-right: 1rem;
  }
}

// Tags list
.cl {
  &-Heading {
    font-size: 2rem;
    @include layoutCenter;
  }
  &-TagsList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
    @include layoutCenter;
    @media (min-width: 1024px) {
      margin-bottom: 4rem;
    }
  }
  &-Tag {
    display: block;
    padding: 0.75rem 1.5rem;
    border-radius: 2.5rem;
    border: 1px solid #707070;
    font-weight: 700;
    text-decoration: none;
    color: #000;
  }
}

// Content area
.cl {
  &-ContentWrapper {
    display: grid;
    max-width: $maxContentWidth;
    // grid-template-columns: minmax(90%, 650px);
    gap: 2rem;
    @include layoutCenter;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(min-content, 730px));
      gap: 5vw;
    }
  }
  &-ContentItem {
    padding-bottom: 3rem;
    @mixin textPaddings {
      padding-left: 1rem;
      padding-right: 1rem;
      @media (min-width: 768px) {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
    
    &_Image {
      width: 100%;
      height: #{'clamp(25vh, 25vw, 380px)'};
      object-fit: cover;
      box-shadow: 0 4px 4px rgba(0,0,0,0.25);
      margin-bottom: 1.75rem;
      @media (min-width: 768px) {
        margin-bottom: 2.5rem;
      }
    }

    &_Date {
      font-size: 0.9rem;
      margin-bottom: 0.5rem;
    }

    &_Heading {
      color: $textSecondary;
    }

    &_ReadMore {
      font-weight: 700;
      color: $textPrimary;
    }

    &_Date, &_Heading, &_Summary, &_ReadMore {
      display: block;
      @include textPaddings;
      margin-top: 0;
    }
  }
}

// Pagination
.cl-Pagination {
  margin-inline: auto;
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
  a {
    display: block;
    color: #333;
  }

  &_Page, &_Previous, &_Next {
    padding: 1rem 0.75rem;
    background: #eee;
    font-weight: 700;
    min-width: 50px;
    text-align: center;
  }

  &_Spacer {
    padding: 1rem 0;
    font-weight: 700;
    user-select: none;
    color: #484848;
  }

  &_Current {
    background: #cbcbcb;
  }
}
