.ftr {
  background: $bgSecondary;
  padding: 3rem 2rem;
  position: relative;
  
  &-LogoSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-Logo {
    // grid-area: Logo;
    width: 100%;
    height: auto;
    max-height: 4rem;
    object-fit: contain;
    object-position: left top;
    display: block;
    margin-bottom: 1rem;
    
    @media (min-width: 768px) {
      width: auto;
      max-width: 200px;
    }
  }
  @media (min-width: 768px) {
    padding: 3rem 2rem;
    &-ContentWrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-inline: auto;
      max-width: 1200px;
    }
  }
}

.ftr-NavMenu {
  margin-bottom: 2rem;
  &_List {
    padding-left: 0;
    li { list-style: none; padding-left: 0;}
    a, a:visited, a:active {
      color: white;
      text-decoration: none;
      font-weight: 400;
      line-height: 1.5;
      font-size: 20px;
    }
  }
  &_ListHeading {
    font-weight: 700 !important;
    display: block;
    padding-bottom: 0.5rem !important;
  }
}

.ftr-ExternalLinks {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  
  &_Heading { 
    // margin-bottom: 0; 
    font-size: 20px;
    line-height: 1.15;
    a, a:visited { 
      color: white;
      text-decoration: none;
      font-weight: 700; 
    }
  }

  ul { 
    padding-left: 0; 
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 2rem;
      align-items: center;
    }
  }
  li { list-style: none; padding-left: 0;}

  &_Link {
    display: flex;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    align-items: center;
    
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
  &_Link, &_Link:visited, &_Link:active {
    color: white;
  }

  &_Icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;

    svg {
      height: 32px;
      width: 32px;
      fill: white;
      
      @media (min-width: 768px) {
        height: 40px;
        width: 40px;
      }
    }
  }
}

.ftr-Copyright { 
  color: white;
  font-size: 13px;
  margin-top: 0.5rem;
  
  &_Desktop {
    display: none !important;
    @media (min-width: 768px) {
      display: block !important;
    }
  }
  
  &_Mobile {
    display: block !important;
    @media (min-width: 768px) {
      display: none !important;
    }
  }
}
