{{ define "main" }}
{{ $blogs := where site.RegularPages "Section" "blog" }}
    {{ $featured_blog := index $blogs 0 }}

    <div class="bls-PanelWrapper">{{- partial "DoublePanel.html" ( dict
        "Params" ( dict
            "title" $featured_blog.Params.title
            "panel_image" .Params.panel_image
        )
        "Permalink" $featured_blog.Permalink
        "IsSection" .IsSection
    ) -}}</div>

    {{- partial "ContentList.html" (dict "pages" .Paginator.Pages "Paginator" .Paginator "show_tags" true) -}}
{{ end }}
