{{ define "main" }}
    {{- partial "DoublePanel.html" . -}}
    <article class="bls">
        <section class="bls-Content">
            {{- .Content -}}
        </section>

        <section class="bls-Related">

            {{ if .Params.tags }}

                {{ $pages := slice }}
                {{ range $tag := .Params.tags }}
                    {{ range site.Taxonomies.tags }}
                        {{ range .Pages }}
                            {{ if and (in .Params.tags $tag) (ne .Permalink $.Permalink) }}
                                {{  $pages = union $pages (slice .) }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}

                <h2>See also in {{ delimit .Params.tags ", " " and " }}</h2>
                <ul>
                {{ range first $.Site.Params.relatedBlogsLength $pages }}
                    <li><a href="{{ .Permalink }}">{{ .Params.title }}</a></li>
                {{ end }}
                </ul>

            {{ else }}

            <ul>
                {{ range first $.Site.Params.relatedBlogsLength (where .Site.RegularPages "Section" "blog") }}
                <li><a href="{{ .Permalink }}">{{ .Params.title }}</a></li>
                {{ end }}
            </ul>
            {{ end }}

        </section>

        {{- partial "AuthorSidebar.html" . -}}
    </article>
{{ end }}
